    body {
        scroll-behavior: smooth;
    }
    
    ul {
        float: right;
        list-style-type: none;
        margin-top: 2rem;
    }
    
    li a {
        color: rgb(240, 239, 245);
        font-size: large;
        font-style: italic;
    }
    
    ul li {
        display: inline-flex;
    }
    
    ul li a {
        text-decoration: none;
        padding: 5px 20px;
        border: 1px solid whitesmoke;
        margin-top: 1rem;
    }
    
    ul li a hover {
        text-decoration: none;
        background-color: rgb(41, 214, 223);
        padding: inherit;
        border: 1px transparent wheat;
        transition: 0.4s;
    }
    
    #main {
        font-style: cursive;
        text-decoration: none;
        color: blanchedalmond;
    }
    
    .largePage {
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-color: black;
        background-size: cover;
        padding: 1rem;
    }
    
    .largePage h1 {
        padding-top: 20rem;
    }
    
    .largePage h3 {
        color: teal;
        font-style: cursive;
        ;
    }
    
    .largePage p {
        color: black;
        font-family: cursive;
        font-size: 23px;
    }
    
    .smallPage {
        height: 40vh;
        background-size: cover;
        background-color: black
    }
    
    .smallPage h1 {
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
        color: honeydew;
    }
    
    .smallPage p {
        font-size: 30px;
        color: honeydew;
    }
    
    #img1 {
        background-image: url(../images/img1.PNG);
        background-position: center;
    }
    
    #img2 {
        background-image: url(../images/img2.PNG);
        background-position: cover;
    }
    
    .pagebig {
        background-image: url(../images/img1.PNG);
        background-size: cover;
    }
    
    .page {
        height: 50vh;
        display: flex;
        justify-content: space-around;
    }
    
    .page img {
        display: block;
        width: 80%;
        height: 35vh;
    }
    
    .overlay {
        position: absolute;
        bottom: 80%;
        left: 0;
        right: 0;
        background-color: rosybrown;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }
    
    .col-md-5 h2 {
        color: teal;
    }
    
    .col-md-5 p {
        color: teal;
    }
    
    .container:hover .overlay {
        bottom: 0;
        height: 60%;
    }
    
    .text {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .footer-distributed {
        background: #666;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px sans-serif;
        padding: 55px 50px;
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }
    /* Footer left */
    
    .footer-distributed .footer-left {
        width: 40%;
    }
    /* The company logo */
    
    .footer-distributed h3 {
        color: #ffffff;
        font: normal 36px 'Open Sans', cursive;
        margin: 0;
    }
    
    .footer-distributed h3 span {
        color: lightseagreen;
    }
    /* Footer links */
    
    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }
    
    .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 1.8;
        font-weight: 400;
        text-decoration: none;
        color: inherit;
    }
    
    .footer-distributed .footer-company-name {
        color: #222;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    /* Footer Center */
    
    .footer-distributed .footer-center {
        width: 35%;
    }
    
    .footer-distributed .footer-center i {
        background-color: #33383b;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }
    
    .footer-distributed .footer-center i.fa-envelope {
        font-size: 17px;
        line-height: 38px;
    }
    
    .footer-distributed .footer-center p {
        display: inline-block;
        color: #ffffff;
        font-weight: 400;
        vertical-align: middle;
        margin: 0;
    }
    
    .footer-distributed .footer-center p span {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 2;
    }
    
    .footer-distributed .footer-center p a {
        color: lightseagreen;
        text-decoration: none;
        ;
    }
    
    .footer-distributed .footer-links a:before {
        content: "|";
        font-weight: 300;
        font-size: 20px;
        left: 0;
        color: #fff;
        display: inline-block;
        padding-right: 5px;
    }
    
    .footer-distributed .footer-links .link-1:before {
        content: none;
    }
    /* Footer Right */
    
    .footer-distributed .footer-right {
        width: 20%;
    }
    
    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }
    
    .footer-distributed .footer-company-about span {
        display: block;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .footer-distributed .footer-icons {
        margin-top: 25px;
    }
    
    .footer-distributed .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
    }
    
    @media (max-width: 880px) {
        .footer-distributed {
            font: bold 14px sans-serif;
        }
        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }
        .footer-distributed .footer-center i {
            margin-left: 0;
        }
    }
    
    @media (max-width: 880px) {
        .largePage {
            display: block;
            width: 100%;
        }
    }
    
    @media (max-width: 880px) {
        .largePage p {
            font-size: medium;
            color: black
        }
    }
    
    @media (max-width: 880px) {
        .smallPage {
            height: auto;
            display: block;
            width: 100%;
            font-size: smaller;
        }
    }
    
    @media (max-width: 880px) {
        .pagebig {
            height: auto;
        }
    }